.navBarWrapper {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Red Hat Display', sans-serif;
}

.logoWrapper {
    width: 10vw;
    height: 10vw;
    padding: 20px;
    background-size: contain;
    background-image: url('../../Assets/Event\ Shevent.jpg');
    margin-left:3vw;
    margin-top:-5vh;
}

.linkWrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.linkWrapper a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.linkWrapper a:hover {
    color: grey;
}

.buttonConnect {
    background-color: rgb(89, 89, 213);
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}

.buttonWrapper{
    border-radius: 10px;
    padding:5px 4px;
    background-color: rgba(128, 128, 128, 0.482);
}
.accountWrapper {
    padding:10px 20px;
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background-color: white;

}